<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Resala Committee to a certain activity</title>
</head>
<body>
<form method="POST" action="">
    {{form.hidden_tag() }}
    <div>
        <fieldset >
            <div>
                {{ form.name.label() }}
                {{form.name() }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.activity_id.label() }}
                {{form.activity_id() }}
                {% if form.activity_id.errors %}
                    {% for error in form.activity_id.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>

        </fieldset>
    </div>
    {{form.submit() }}

</form>
</body>
</html>