<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bots</title>
</head>
<body>
{%if bots %}
    {%for bot in bots%}
        <ul>
            <li><span>{{bot.name}}</span>
                <span style="margin:10px;"> <a href="{{url_for('show_bot', bot_id=bot.id)}}"> Show Details </a> </span>
                 <span style="margin:10px;"> <a href="{{url_for('get_member_contributions_report', bot_id=bot.id)}}"> Contributions report </a> </span>
            </li>
        </ul>
    {% endfor %}
{% endif %}
</body>
</html>