<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Simple Form</title>
    {% endif %}
</head>
<body>
<form method="POST" action="">
    {{form.hidden_tag() }}
    <div>
        <fieldset>
            <div>
                {{ form.name.label() }}
                {{form.name() }}
                {% if form.name.errors %}
                {% for error in form.name.errors %}
                <span>{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

        </fieldset>
    </div>
    {{form.submit() }}

</form>


</body>
</html>